.contact_page_image {
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  box-shadow: 0 1rem 2rem rgba($color-dark-grey, .6);

  @include respond(phone) {
    height: 20rem;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-light-grey;
  }
}

//CONTACT FORM
.contact_page {
  max-width: 130rem;
  width: 100%;
  margin: 8rem auto 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-land) {
    padding: 0 4rem;
  }

  @include respond(tab-port-small) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include respond(phone) {
    padding: 0 1rem;
    display: inline-block;
    margin-top: 4rem;
  }

  .gform_wrapper {
    width: 60%;

    @include respond(phone) {
      width: 100%;
    }

    h3.gform_title {
      font-family: Roboto;
      font-size: 4.5rem;
      font-weight: 300;
      color: $color-blue;
      margin-top: 0;
      margin-bottom: 2.5rem;

      @include respond(phone) {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
      }
    }

    .gform_description {
      font-size: 1.6rem;
      line-height: 3rem;
      font-weight: 300;
    }
  }

  .gform_body{

    .gform_fields {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      @include respond(tab-port-small) {
        display: inline-block;
      }

      .gfield {
        width: 50%;

        @include respond(tab-port-small) {
          display: inline-block;
          width: 100%;
        }

        .gfield_label {
          font-size: 1.7rem;
          color: $color-blue;
          font-family: Roboto;
          font-weight: 300;
          margin-top: 3rem;
        }

        .ginput_container{
          width: 100%;

          .medium {
            width: 90%;
            display: inline-block;
            font-family: 'Roboto';
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 3rem;
            padding: 1rem .5rem;
            border: 1px solid rgba(0, 0, 0, 0.13);

            @include respond(phone) {
              width: 100%;
            }
          }
        }
      }
      #field_1_5 {
        width: 100%;
        #input_1_5 {
          width: 95%;
        }

        @include respond(tab-port-small) {
          width: 90%;
          #input_1_5 {
            width: 100%;
          }
        }

        @include respond(phone) {
          width: 100%;
          #input_1_5 {
            width: 100% !important;
          }
        }
      }
      #field_1_6 {
        width: 100%;
        #input_1_6 {
          width: 95%;
        }

        @include respond(tab-port-small) {
          width: 90%;
          #input_1_6 {
            width: 100%;
          }
        }

        @include respond(phone) {
          width: 100%;
          #input_1_6 {
            width: 100% !important;
          }
        }
      }
    }
  }
  .gform_footer {

    .button {

      @include respond(tab-port-small) {
        width: 90%;
      }

      @include respond(phone) {
        width: 100%;
      }
    }

    .gform_button {
      background-color: $color-orange;
      color: $color-light-grey;
      border: none;
      border-radius: .4rem;

      &:hover {
        background-color: darken($color-orange, 15%);
        cursor: pointer;
      }
    }
  }

  //SIDE INFORMATION
  .side_info {

    @include respond(tab-port-small) {
      margin-top: 10rem;
    }

    @include respond(phone) {
      margin-top: 6rem;
      text-align: center;
    }

    .information_content {

      h1 {
        font-family: Roboto;
        font-weight: 300;
        font-size: 3.5rem;
      }

      p {
        margin: 2rem 0;

        a,
        a:visited {
          text-decoration: none;
          color: $color-grey;

          &:hover {
            color: $color-orange;
          }
        }
      }
    }

    .social_media {
      margin-top: 10rem;
      width: 90%;

      @include respond(tab-port-small) {
        margin-top: 6rem;
      }

      @include respond(phone) {
        margin-top: 7rem;
        width: 100%;
      }

      h1 {
        font-family: Roboto;
        font-weight: 300;
        font-size: 3.5rem;
      }
      .social_media_icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        font-size: 1.6rem;

        @include respond(phone) {
          margin-top: 4rem;
          justify-content: center;
        }

        a,
        a:visited{
          color: $color-blue;
          font-size: 1.6rem;
          text-decoration: none;

          border: 1px solid $color-blue;
          border-radius: 50%;
          width: 4.5rem;
          height: 4.5rem;

          display: flex;
          justify-content: center;
          align-items: center;

          &:not(:last-child) {
            margin-right: 2rem;
          }

          transition: .3s;

          &:hover {
            background-color: $color-blue;
            color: $color-light-grey;
          }
        }
      }
    }
  }
}

